# name: dashboard-ci

on:
  schedule:
    - cron: "0 */6 * * *"  # every 6 hours
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  ui-tests:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false


      # Step 2: Setup Python
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          playwright install

      # Step 4: Run UI tests and generate JSON
      - name: Run Playwright UI Tests
        run: pytest --json-report --json-report-file=results/latest.json

      # Step 5: Process JSON into CSV
      - name: Process Metrics
        run: python process_metrics.py

      # Step 6: Upload CSV artifact (optional)
      - name: Upload Metrics CSV
        uses: actions/upload-artifact@v4
        with:
          name: metrics
          path: results/processed_results.csv

           # Step 7: Commit metrics CSV to repo for Power BI
      - name: Commit metrics CSV
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          mkdir -p data
          mv results/processed_results.csv data/processed_results.csv

          git add data/processed_results.csv
          git commit -m "Update metrics CSV [skip ci]" || echo "No changes to commit"

          git push https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }} HEAD:main
